<div class="col-md-5">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{product.brand}} {{product.model}}
        </div>
        <div class="panel-body">
            <div>$ {{product.price}}</div>
        </div>
        <div class="panel-footer">
            {{product.lastUpdated}}
        </div>
    </div>
</div>